header {
  background-color: darkturquoise;
  height: 90px;
}
.title {
  color: white;
  font-size: 36px;
  font-weight: bold;
  border-radius: 10px;
  padding: 20px 20px;
}
label {
  display: block;
  margin-bottom: 5px;
}

form {
  margin-top: 50px;
  padding: 10px;
  background-color: teal;
  color: white;
  font-weight: bold;
}
